body 
{
   letter-spacing: 2px;
   overflow: initial;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.content1{
    width: 100%;
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
    text-align: center;
}
.content9{
    width: 100%;
    position: static;
    text-align: center;
}
button{
    width: 400px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: olivedrab;
    height: 100%;
    width: 0px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}